.navbar, .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: rgb(68, 0, 255);
}

.navbar-brand {
    color: white;
    font-weight: 700;
}

.nav-link {
    color: rgb(226, 215, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.fonte-pequena {
    font-size: 12px;
}